<form action="/admin/action" method="POST">
    <input type="hidden" name="key" value="<%= key %>">
    </form>

<form action="/admin/action" method="POST">
    <input type="hidden" name="key" value="<%= key %>">
    <input type="hidden" name="action" value="delete">
    </form>
